:root {
    --primary-text-color: #212121;
    --paragraph-text-color: #757575;
    --accent-color: #2196F3;
    --body-background-color: #FFFFFF;
    --logo-black-color: #000000;
    --footor-background-color: #2F303A;
    --team-background-color: #F5F4FA;
    --footer-info-color: rgba(255, 255, 255, 0.6);
}

*, 
*::before,
*::after {
    box-sizing: border-box;
}

.body {
   background-color: var(--body-background-color);
   color: var(--primary-text-color);
   font-family: 'Roboto', 'Arial', sans-serif;
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;


    outline: 2px solid tomato;
}
.list {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
}
.link {
    text-decoration: none;
}
/* Шапка сторінки */

/* Лого хедер */
.page-header .main-nav {
    display: flex;
    align-items: center;
}

.logo {
    color: var(--accent-color);
    font-family: 'Raleway', 'Arial', sans-serif;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;  
}
.logo .black-color {
    color: var(--logo-black-color);    
}

.logo > .black-color {
    display: inline-block;
    padding-top: 24px;
    padding-bottom: 25px;
}

.logo:hover,
.logo:focus {
    color: var(--accent-color);
}

/* Навігація */
.site-nav {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;

    display: flex;
    margin-left: 93px;
}

.site-nav .item:not(:last-child),
.header-info .item:not(:last-child){
    margin-right: 50px;
}
.site-nav .link {
    color: var(--primary-text-color);

    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}
.site-nav .link.current{
    color: var(--accent-color);
}
.header-info {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;

    padding: 0;
    margin-left: auto;
    display: flex;
}
.info-link {
    color: var(--paragraph-text-color);

    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
}
.info-link:hover,
.info-link:focus {
    color: var(--accent-color);
}

/* Унікальний контент сторінки */

/* Секція перша */
.main-section {
    background-color: var(--footor-background-color);
    color: var(--body-background-color);
    margin-top: 0;
    margin-bottom: 94px;
    text-align: center;
}
.main-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.2;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
    padding-top: 200px;
    padding-left: 452px;
    padding-right: 452px;
    margin-top: 0;
    margin-bottom: 30px;
    min-width: 696px;
}
/* Кнопка */
.primary-button {
    display: inline-block;
    background-color: var(--accent-color);
    color: var(--body-background-color);
    font-family: inherit;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    letter-spacing: 0.06em;
    
    border-radius: 4px; 
    padding: 10px 32px;
    min-width: 200px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 200px;
}

/* Секція друга */
.container .secondary-section .advantages {
    display: flex;
}
.secondary-section {
    margin-top: 0;
    margin-bottom: 94px;
}
.advantage-item:not(:last-child) {
    margin-right: 30px;
}
.advantage {
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    margin-top: 0;
    margin-bottom: 10px;
}

.specific-advantage {
    color: var(--paragraph-text-color);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;

    margin-top: 0;
}

/* Секція третя */
.third-section {
    margin-top: 0;
    margin-bottom: 94px;
}
.secondary-title {
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    
    margin-top: 0;
    margin-bottom: 50px;
}
.work {
    display: flex;
    padding-right: 0;
    padding-left: 0;
}
.work-item:not(:last-child) {
    margin-right: 30px;
}
.work-item {
    display: inline-block;
}

/* Секція четверта */
.team-section {
    background-color: var(--team-background-color);
    
    margin-top: 0;
    margin-bottom: 0;
}
.team-section > .secondary-title {
    padding-top: 94px;
}
.employee-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;

    margin-top: 30px;
    margin-bottom: 10px;
}
.team-specialty {
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;

    color: var(--paragraph-text-color);

    margin-top: 0;
    margin-bottom: 0;
}
/* Підвал сторінки */
.footer {
    background-color: var(--footor-background-color);
    
    margin-top: 0;
    margin-bottom: 0;
}
/* Лого футер */
.logo .link {
    margin-left: 215px;
}
.white-color {
    color: var(--body-background-color);
}
.logo > .white-color {
    display: inline-block;
    padding-top: 60px;
    margin-bottom: 20px;
}
.address {
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;

    padding-bottom: 60px;
}
.physical-address {
    color: var(--body-background-color);
    margin-top: 0;
    margin-bottom: 9px;
}
.address .info {
    color: var(--footer-info-color);
    margin-top: 0;
    margin-bottom: 9px;
}
.address .link:hover,
.address .link:focus {
    color: var(--accent-color);
} 
/* Портфоліо */
 .portfolio-section {
     margin-top: 94px;
     margin-bottom: 94px;
 }
/* Кнопки у портфоліо */
.secondary-button{
    background: var(--team-background-color);
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;

    min-width: 73px;
    border-radius: 4px;
    text-align: center;
    padding: 6px 22px;
    margin-top: 0;
    margin-bottom: 50px;
}
.secondary-button:hover,
.secondary-button:focus {
    background: var(--accent-color);
    color: var(--body-background-color);
}
.item-name {
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;

    min-width: 322px;
    margin-top: 20px;
    margin-bottom: 4px;
}
.item-description {
    color: var(--paragraph-text-color);
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;

    min-width: 322px;
    margin-top: 0;
    margin-bottom: 20px;
}